
.app_button {
  @extend %button_hover;

  display: block;
  width: 146px;
  height: 44px;
  text-indent: -999px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;

  @media (min-width: $breakpoint_desktop) {
    width: 156px;
    height: 47px;
  }

  &[href^="https://www.apple"] {
    background-image: image('apple_store.svg');
  }

  &[href^="https://play"] {
    background-image: image('google_play.svg');
  }
}
