@import "variables";

body {
  font-size: $font_default_size;
  line-height: 1.25;
  font-family: $font_stack;
  margin: 0;
  overflow-x: hidden;
}

img,
svg,
figure {
  max-width: 100%;
}

nav ul {
  @include list_stripped;
}
