.icon_social {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-indent: -999px;
  overflow: hidden;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 15px 15px;
  @extend %button_hover;

  &[href^="https://facebook.com"] {
    background-image: image('icon_facebook.svg');
  }
  &[href^="https://twitter.com"] {
    background-image: image('icon_twitter.svg');
    background-size: 17px 17px;
  }
  &[href^="https://instagram.com"] {
    background-image: image('icon_instagram.svg');
  }
}

