@import "variables";

.container {
  padding-inline: $gutter_default;
  text-align: center;
  @include max-width-container($width_faux_column);

  @media (min-width: $breakpoint_desktop) {
    text-align: start;
    padding-inline: 0;
  }
}
