.list_logos {
  @include list_stripped;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 30rem;
  margin: 0 auto;

  li {
    flex-grow: 1;
    margin: 0 0 1rem;
  }

  .logo_full {
    flex-basis: 100%;
  }

  .logo_half {
    flex-basis: 50%;
  }

  .logo_third {
    flex-basis: 33%;
  }


  a {
    display: block;
    margin: 0 auto;
    text-indent: -999px;
    min-height: 58px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  [href^="https://sports.tv"] {
    background-image: image('logo_sports_tv.svg');
    width: 149px;
    height: 52px;
  }
  [href^="https://sports.com"] {
    background-image: image('logo_sports_channel.svg');
    width: 102px;
    height: 32px;
  }
  [href^="https://sports.nbc.com"] {
    background-image: image('logo_nbc_sports.svg');
    width: 69px;
    height: 58px;
  }
  [href^="https://designer-technology.com"] {
    background-image: image('logo_designer_technology.svg');
    width: 110px;
    height: 32px;
  }
  [href^="https://network-design.com"] {
    background-image: image('logo_designer_news.svg');
    width: 48px;
    height: 48px;
  }
  [href^="https://sports.sky.com"] {
    background-image: image('logo_sky_sports.svg');
    width: 210px;
    height: 34px;
  }

  @media (min-width: $breakpoint_desktop) {
    max-width: 100%;

    li {
      flex-grow: 0;
      flex-basis: auto !important;
    }
  }
}

