@import "variables";

$masthead_images:
  (
    x: 372px,
    y: 290px,
    url: 'mobile_screenshot_1.png',
  ),
  (
    x: 604px,
    y: 119px,
    url: 'mobile_screenshot_2.png',
  ),
  (
    x: 372px,
    y: 742px,
    url: 'mobile_screenshot_3.png',
  ),
  (
    x: 611px,
    y: 603px,
    url: 'mobile_screenshot_4.png',
  ),
  (
    x: 851px,
    y: 464px,
    url: 'mobile_screenshot_5.png',
  );

@mixin multiple_backgrounds() {
  $url_list: ();
  $positions: ();
  $url_mockup: url('#{$path_to_images}iphone_mockup.svg');
  $x_offset: 62px;
  $y_offset: 63px;

  @each $image in $masthead_images {
    $url_string: url('#{$path_to_images}#{map-get($image, 'url');}');
    $position: map-get($image, 'x') map-get($image, 'y');
    $mockup_position: (map-get($image, 'x') - $x_offset) (map-get($image, 'y') - $y_offset);
    $url_list: append($url_list, $url_string, comma);
    $url_list: append($url_list, $url_mockup, comma);
    $positions: append($positions, $position, comma);
    $positions: append($positions, $mockup_position, comma);
  }

  background-image: $url_list;
  background-position: $positions;
  background-repeat: no-repeat;
}

.masthead {
  background-color: $colour_background_header;
  position: relative;

  @media (min-width: $breakpoint_desktop) {
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -140px;
      left: 50%;
      width: 1187px;
      height: 1152px;
      transform: rotate(30deg);
      @include multiple_backgrounds;
    }
  }



  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-end: 60px;

    @media (min-width: $breakpoint_desktop) {
      align-items: flex-start;
      padding-block-end: 164px;
    }

    > * {
      max-width: 546px;
    }
  }

  .heading {
    color: $colour_headings;
    font-size: 30px;
    line-height: 1.32;
    margin-block-start: 50px;
    margin-block-end: 33px;
    font-weight: 700;

    @media (min-width: $breakpoint_desktop) {
      font-size: 36px;
      margin-block-start: 226px;
      margin-block-end: 30px;
    }
  }
}

.masthead_description {
  color: $colour_introduction;
  font-size: 16px;
  line-height: 1.44;
  margin-block-start: 0;
  margin-block-end: 50px;

  @media (min-width: $breakpoint_desktop) {
    font-size: 18px;
  }
}

.masthead_buttons {
  @include list_stripped;

  display: flex;
  flex-direction: row;
  justify-content: center;

  li + li {
    margin-left: 28px;

    @media (min-width: $breakpoint_desktop) {
      margin-left: 36px;
    }
  }
}
