@import "variables";

.masthead {
  background-color: $colour_background_header;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-end: 60px;

    @media (min-width: $breakpoint_desktop) {
      align-items: flex-start;
    }
  }

  .heading {
    color: $colour_headings;
    font-size: 30px;
    line-height: 1.32;
    margin-top: 50px;
    margin-bottom: 33px;
    font-weight: 700;

    @media (min-width: $breakpoint_desktop) {
      font-size: 36px;
      margin-bottom: 30px;
    }
  }
}

.masthead_description {
  color: $colour_introduction;
  font-size: 16px;
  line-height: 1.44;
  margin-top: 0;
  margin-bottom: 50px;

  @media (min-width: $breakpoint_desktop) {
    font-size: 18px;
  }
}

.masthead_buttons {
  @include list_stripped;

  display: flex;
  flex-direction: row;
  justify-content: center;

  li + li {
    margin-left: 28px;

    @media (min-width: $breakpoint_desktop) {
      margin-left: 36px;
    }
  }
}
