@keyframes orbit {
  0% {
    transform: translateX(-50%) rotate(0);
  }
  100% {
    transform: translateX(-50%) rotate(1turn);
  }
}

$user-friendly-app-image-height: 610px;
$user-friendly-radar-image-dimension: 2000px;

#section-user-friendly {
  padding-block-start: 55px;
  padding-block-end: $user-friendly-app-image-height;
  position: relative;

  &::before,
  &::after {
    content: '';
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &::before {
    z-index: -1;
    top: calc(100% - #{($user-friendly-radar-image-dimension / 2) + ($user-friendly-app-image-height / 2)});
    width: $user-friendly-radar-image-dimension;
    height: $user-friendly-radar-image-dimension;
    background-image:
      image('radar_blip.svg'),
      image('radar.svg');
    background-position:
      calc(50% - 300px) calc(50% - 40px),
      50% 50%;
    background-size:
      62px 62px,
      $user-friendly-radar-image-dimension $user-friendly-radar-image-dimension;
    animation: orbit 100s infinite linear;

    @media (min-width: $breakpoint_desktop) {
      left: calc(50% + 300px);
      bottom: auto;
      top: calc(50% - #{($user-friendly-radar-image-dimension / 2)});
    }
  }

  &::after {
    // Align the images with the bottom as the basis
    top: calc(100% - #{$user-friendly-app-image-height});
    margin: 0 auto;
    background-image:
      image('icon_bell_disc.svg'),
      image('icon_app_enter_disc.svg'),
      image('mobile_screenshot_5.png'),
      image('iphone_mockup_no_shadow.svg');
    background-position:
      17px 29px,
      278px 386px,
      82px 86px,
      64px 25px;
    background-size:
      91px 91px,
      91px 91px,
      223px 396px,
      257px 513px;
    width: 386px;
    height: $user-friendly-app-image-height;
    filter: drop-shadow(5px 5px 20px rgba(0,0,0,.5));

    @media (min-width: $breakpoint_desktop) {
      left: calc(50% + 300px);
    }
  }

  .heading {
    margin-block-end: 27px;
  }

  > div {

  }

  @media (min-width: $breakpoint_desktop) {
    padding-block-start: 214px;
    padding-block-end: 171px;

    > div {
      > * {
        max-width: 480px;
        margin-inline-end: auto;
      }
    }
  }
}
