@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  font-size: 16px;
  line-height: 1.25;
  font-family: Lato, Arial, Helvetica, sans-serif;
  margin: 0; }

img,
svg,
figure {
  max-width: 100%; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.a11y {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.heading_masthead {
  color: #333; }

.container {
  padding-inline: 20px;
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 1032px) {
    .container {
      text-align: start;
      padding-inline: 0; } }

body > header {
  background-color: #f4f6f9;
  padding-block-start: 30px; }
  body > header h1 {
    margin: 0; }

.logo_sports {
  display: block;
  margin-inline: auto;
  text-indent: -999px;
  background-image: url("../img/logo_sports_colour.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 186px;
  height: 70px;
  overflow: hidden; }
  @media (min-width: 1032px) {
    .logo_sports {
      margin-inline: 0;
      width: 92px;
      height: 32px; } }

.masthead {
  background-color: #f4f6f9; }
  .masthead > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-end: 60px; }
    @media (min-width: 1032px) {
      .masthead > div {
        align-items: flex-start; } }
  .masthead .heading {
    color: #333;
    font-size: 30px;
    line-height: 1.32;
    margin-top: 50px;
    margin-bottom: 33px; }
    @media (min-width: 1032px) {
      .masthead .heading {
        font-size: 36px;
        margin-bottom: 30px; } }

.masthead_description {
  color: #4f4f4f;
  font-size: 16px;
  line-height: 1.44;
  margin-top: 0;
  margin-bottom: 50px; }
  @media (min-width: 1032px) {
    .masthead_description {
      font-size: 18px; } }

.masthead_buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .masthead_buttons li + li {
    margin-left: 36px; }
