.logo_sports, .app_button {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .logo_sports:hover, .app_button:hover {
    transform: scale(1.1); }

.logo_sports, .app_button {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .logo_sports:hover, .app_button:hover {
    transform: scale(1.1); }

@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

.logo_sports, .app_button {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .logo_sports:hover, .app_button:hover {
    transform: scale(1.1); }

body {
  font-size: 16px;
  line-height: 1.44;
  font-family: Lato, Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #4f4f4f; }

img,
svg,
figure {
  max-width: 100%; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.logo_sports, .app_button {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .logo_sports:hover, .app_button:hover {
    transform: scale(1.1); }

.a11y {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.logo_sports, .app_button {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .logo_sports:hover, .app_button:hover {
    transform: scale(1.1); }

.heading {
  color: #333;
  font-weight: 700;
  margin-block: 0; }

.heading_masthead {
  font-size: 30px; }
  @media (min-width: 1032px) {
    .heading_masthead {
      font-size: 36px; } }

.heading_section {
  font-size: 28px; }

.logo_sports, .app_button {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .logo_sports:hover, .app_button:hover {
    transform: scale(1.1); }

main a {
  color: #00adee;
  transition: text-decoration-color 0.2s; }
  main a:hover {
    text-decoration-color: #bfebfb; }

.logo_sports, .app_button {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .logo_sports:hover, .app_button:hover {
    transform: scale(1.1); }

.container {
  padding-inline: 20px;
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 1032px) {
    .container {
      text-align: start;
      padding-inline: 0; } }

.logo_sports, .app_button {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .logo_sports:hover, .app_button:hover {
    transform: scale(1.1); }

.logo_sports {
  display: block;
  margin-inline: auto;
  text-indent: -999px;
  background-image: url("../img/logo_sports_colour.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 186px;
  height: 70px;
  overflow: hidden; }
  @media (min-width: 1032px) {
    .logo_sports {
      margin-inline: 0;
      width: 92px;
      height: 32px; } }

.app_button {
  display: block;
  width: 146px;
  height: 44px;
  text-indent: -999px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden; }
  @media (min-width: 1032px) {
    .app_button {
      width: 156px;
      height: 47px; } }
  .app_button[href^="https://www.apple"] {
    background-image: url(../img/apple_store.svg); }
  .app_button[href^="https://play"] {
    background-image: url(../img/google_play.svg); }

.logo_sports, .app_button {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .logo_sports:hover, .app_button:hover {
    transform: scale(1.1); }

[data-help-tag]::before {
  content: attr(data-help-tag);
  display: block;
  margin-block-end: 27px;
  text-transform: uppercase;
  color: #00adee;
  font-size: 1rem;
  font-weight: 700; }

.logo_sports, .app_button {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .logo_sports:hover, .app_button:hover {
    transform: scale(1.1); }

.list_features {
  list-style: none;
  padding: 0;
  margin: 0; }
  .list_features li {
    padding-block-start: 50px;
    margin-block-start: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto; }
  @media (min-width: 1032px) {
    .list_features {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 90px;
      column-gap: 90px;
      grid-row-gap: 45px;
      row-gap: 45px;
      margin-block-start: 50px; }
      .list_features li {
        margin-block-start: 0;
        max-width: 100%; } }

.icon_feature {
  background-size: 40px;
  background-position: 50% 0;
  background-repeat: no-repeat; }
  @media (min-width: 1032px) {
    .icon_feature {
      background-position: 0 0; } }

.icon_bell_ringing {
  background-image: url("../img/icon_bell_ringing_blue.svg"); }

.icon_flag {
  background-image: url("../img/icon_flag_blue.svg"); }

.icon_graph {
  background-image: url("../img/icon_graph_blue.svg"); }

.icon_hd {
  background-image: url("../img/icon_hd_blue.svg"); }

.icon_tent {
  background-image: url("../img/icon_tent_blue.svg"); }

.icon_video {
  background-image: url("../img/icon_video_blue.svg"); }

@media (min-width: 1032px) {
  .icon_bell_ringing {
    background-image: url("../img/icon_bell_ringing_white.svg"); }
  .icon_flag {
    background-image: url("../img/icon_flag_white.svg"); }
  .icon_graph {
    background-image: url("../img/icon_graph_white.svg"); }
  .icon_hd {
    background-image: url("../img/icon_hd_white.svg"); }
  .icon_tent {
    background-image: url("../img/icon_tent_white.svg"); }
  .icon_video {
    background-image: url("../img/icon_video_white.svg"); } }

body > header {
  background-color: #f4f6f9;
  padding-block-start: 30px; }
  body > header h1 {
    margin: 0; }
  @media (min-width: 1032px) {
    body > header {
      position: absolute;
      top: 61px;
      left: calc(50% - 500px);
      z-index: 3; } }

.logo_sports, .app_button {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .logo_sports:hover, .app_button:hover {
    transform: scale(1.1); }

.masthead {
  background-color: #f4f6f9;
  position: relative; }
  @media (min-width: 1032px) {
    .masthead::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      bottom: -140px;
      left: calc(50% - 160px);
      width: 1187px;
      height: 1152px;
      transform: rotate(30deg);
      background-image: url("../img/mobile_screenshot_1.png"), url("../img/iphone_mockup.svg"), url("../img/mobile_screenshot_2.png"), url("../img/iphone_mockup.svg"), url("../img/mobile_screenshot_3.png"), url("../img/iphone_mockup.svg"), url("../img/mobile_screenshot_4.png"), url("../img/iphone_mockup.svg"), url("../img/mobile_screenshot_5.png"), url("../img/iphone_mockup.svg");
      background-position: 372px 290px, 310px 227px, 604px 119px, 542px 56px, 372px 742px, 310px 679px, 611px 603px, 549px 540px, 851px 464px, 789px 401px;
      background-repeat: no-repeat; } }
  .masthead > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-end: 60px;
    position: relative;
    z-index: 2; }
    @media (min-width: 1032px) {
      .masthead > div {
        align-items: flex-start;
        padding-block-end: 164px; } }
    .masthead > div > * {
      max-width: 546px; }
  .masthead .heading {
    color: #333;
    font-size: 30px;
    line-height: 1.32;
    margin-block-start: 50px;
    margin-block-end: 33px;
    font-weight: 700; }
    @media (min-width: 1032px) {
      .masthead .heading {
        font-size: 36px;
        margin-block-start: 226px;
        margin-block-end: 30px; } }

.masthead_description {
  color: #4f4f4f;
  font-size: 16px;
  line-height: 1.44;
  margin-block-start: 0;
  margin-block-end: 50px; }
  @media (min-width: 1032px) {
    .masthead_description {
      font-size: 18px; } }

.masthead_buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .masthead_buttons li + li {
    margin-left: 28px; }
    @media (min-width: 1032px) {
      .masthead_buttons li + li {
        margin-left: 36px; } }

@keyframes orbit {
  0% {
    transform: translateX(-50%) rotate(0); }
  100% {
    transform: translateX(-50%) rotate(1turn); } }

#section-user-friendly {
  padding-block-start: 55px;
  padding-block-end: 610px;
  position: relative; }
  #section-user-friendly::before, #section-user-friendly::after {
    content: '';
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  #section-user-friendly::before {
    z-index: -1;
    top: calc(100% - 1305px);
    width: 2000px;
    height: 2000px;
    background-image: url("../img/radar_blip.svg"), url("../img/radar.svg");
    background-position: calc(50% - 300px) calc(50% - 40px), 50% 50%;
    background-size: 62px 62px, 2000px 2000px;
    animation: orbit 100s infinite linear; }
    @media (min-width: 1032px) {
      #section-user-friendly::before {
        left: calc(50% + 300px);
        bottom: auto;
        top: calc(50% - 1000px); } }
  #section-user-friendly::after {
    top: calc(100% - 610px);
    margin: 0 auto;
    background-image: url("../img/icon_bell_disc.svg"), url("../img/icon_app_enter_disc.svg"), url("../img/mobile_screenshot_5.png"), url("../img/iphone_mockup.svg");
    background-position: 22px 29px, 283px 386px, 87px 86px, 0 0;
    background-size: 91px 91px, 91px 91px, 223px 396px, 353px 612px;
    width: 386px;
    height: 610px; }
    @media (min-width: 1032px) {
      #section-user-friendly::after {
        left: calc(50% + 300px); } }
  #section-user-friendly .heading {
    margin-block-end: 27px; }
  @media (min-width: 1032px) {
    #section-user-friendly {
      padding-block-start: 214px;
      padding-block-end: 171px; }
      #section-user-friendly > div > * {
        max-width: 480px;
        margin-inline-end: auto; } }

.logo_sports, .app_button {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .logo_sports:hover, .app_button:hover {
    transform: scale(1.1); }

#section-features {
  padding-block-start: 45px;
  padding-block-end: 58px; }
  @media (min-width: 1032px) {
    #section-features {
      padding-block-start: 76px;
      padding-block-end: 70px;
      color: #fff;
      background-color: #00adee;
      background-image: url("../img/bg_blue_rectangles.svg");
      background-repeat: no-repeat;
      background-size: contain; }
      #section-features .heading {
        color: inherit;
        text-align: center; } }
